<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicin
        g elit. Ut velit nisi vel, quas rerum nesciunt eius voluptas aliquid doloribus placeat,
         qui necessitatibus sed nostrum, deserunt tempora ab dolore natus error.</p>

    <button>click me!</button>
</body>
</html>