.random{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
    border-radius: 10px;
    padding-top: 10px;
    margin: 20px 30px 40px 50px;
}
h1{
    /* border-width: 2px;
    border-style: dashed;
    border-color: green; */
    border: 2px dashed green;
    /* border-radius: 50%; */
}
button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 30px 0 30px;
    background-color: yellow;
}

/* practice questions */

#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}